1.ANSWER

In [5]:
part_score=[97,56,78,90,45,43,56]
list=[]
for i in part_score:
  if i!=max(part_score):
    list.append(i)
    i=i+1
print(max(list))

90

2.ANSWER

In [3]:
D={"john":[25,32,43],"peter":[87,55,96],"ram":[58,55,43],"meena":[63,79,85]}
name=str(input("enter your name"))
if name in D:
  D.update({name:[88,77,99]})
  print(D)
else:
  print("name not found")

enter your namepeter
{'john': [25, 32, 43], 'peter': [88, 77, 99], 'ram': [58, 55, 43], 'meena': [63, 79, 85]}

3.ANSWER

In [1]:
name=str(input("enter the name"))
age=int(input("enter your age"))
gender=str(input("enter your gender"))

if age<5 or age>60:
  print(name +"\t"+"got free ticket")
elif(age>5 and age<=12):
  if(gender=='female'):
      ticket=10*50/100
      print("50% cash back available")
      print("ticketprice="+str(ticket))
  else:
      print("ticketprice=10")
elif(age>12 and age<=60):
  if(gender=='female'):
     ticket=50*50/100
     print("50% cash back available")
     print("tickrt price="+str(ticket))
  else:
     print("ticketprice=50")



else:
  print("not available")

enter the nameaswathi
enter your age34
enter your gendermale
ticketprice=50